@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    height: 100vh;
    margin : 0;
    display : flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
}
.header {
    display : flex;
    justify-content: center;
    align-items: center;
    padding : 03%;
}
.midder {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 40px;
}
.score {
    display : flex;
    gap : 5px;
}
.comment { 
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 20px;
}
.choose {
    display : flex;
    justify-content: center;
    align-items: center;
    margin : 50px;
    font-size: 32px;
}
.players {
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex : .3;
    padding : 0 20%;
}
.weaponsbox {
    display : flex;
    justify-content: center;
    gap : 50px;

}
.weapon {
    transition: all .09s ease;
}

.playing {
    transform : scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

input[type="image"] {
    width : 120px;
    border : 6px solid #585858;
    padding : 20px;
}
.icon {
    width : 150px;
}
